/*-----------------------
Styleguide
-----------------------*/
.styleguide {
  .styleguide-fields fieldset {
    margin-top: 0px;
  }

  h5:not(:first-child) {
    @include rem(margin-top, 20px);
  }

  .styleguide-sidebar {
    .side-navigation {
      margin-top: 0px;
      position: relative;
    }
  }
  .styleguide-header {
    .navigation {
      position: relative;
    }
  }

  &.content {
    &.with-sidebar {
      .content-container {
        .card {
          @include media($tablet-landscape) {
            float: inherit;
            width: 100%;
          }
        }
      }
    }
  }
}

.code-header {
  border-bottom: 1px solid $white-med;
  @include rem(margin-bottom, 20px);
  @include rem(padding-bottom, 20px);

  &:not(:first-child) {
    @include rem(margin-top, 60px);
  }
}

xmp {
  background-color: rgba(lighten($blue-base, 35%), 0.5);
  @include rem(padding, 20px);
  white-space: pre-wrap;
}
