/*-----------------------
Blade Header
-----------------------*/

.blade-header{
  color: $grey-base;
  @include rem(margin-bottom, 10px);
}


/*-----------------------
Blade Contents
-----------------------*/
.blade{
  background-color: $white-base;
  box-shadow: 0 0 17px 0 rgba(222,222,222,0.50);
  cursor: pointer;
  @include rem(margin-bottom, 10px);
  @include rem(padding, 15px);
  transition: all 0.3s ease-in-out;

  &:hover{
    background-color: $blue-light;
  }

  p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
  }

  .profile-thumb{
    background-color: $white-light;
    border-radius: 50%;
    display: inline-block;
    height: 42px;
    @include rem(margin-right, 10px);
    width: 42px;
    vertical-align: -4px;

    img{
      border-radius: 50%;
    }
  }

  .text-block{
    display: inline-block;
    width: calc(100% - 58px);

    p{
      margin: 0px;
    }

    span{
      color: $grey-base;
      @include s-small;
    }
  }
}


.blade{

  .center{
    @include rem(margin-top, 10px);
  }

  a{
    @include rem(margin-top, 5px);
  }

  span{
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    vertical-align: text-top;
    @include rem(margin-right, 5px);
  }

  .is-complete span{
    background-color: $green-base;
  }

  .in-progress span{
    background-color: $yellow-base;
  }

  .is-late span{
    background-color: $red-base;
  }
}

.status{
  li{
    @include font-type($primary-sans-serif, normal, $regular);
    @include s-small;
    color: $grey-base;
    display: inline-block;
    line-height: normal;

    &:before{
      content: "/";
      display: inline-block;
      @include rem(margin, 0px 2px);
    }

    &:first-child, &:nth-child(2){
      &:before{
        display: none;
      }
    }
  }
}
