// Buttons Component Styles
// ========================================

// Main Button
@mixin button{
  border-radius: 0px;
  display: inline-block;
  @include font-type($primary-sans-serif, normal, $bold);
  @include rem(padding, 8px 15px);
  @include rem(font-size, 13px);
  transition: all .5s ease-in-out;
  min-width: 100px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  @include rem(height, 46px);

  &:hover{ cursor: pointer; }

  &:focus{
    border: none;
    // @include outline-dark;
    text-decoration: none;
  }
}


// Button Styles
@each $button in $buttons{
  $type:        nth($button, 1);
  $bg-1:        nth($button, 2);
  $border:      nth($button, 3);
  $color:       nth($button, 4);
  $hover-bg:    nth($button, 5);
  $hover-color: nth($button, 6);

  .button-#{$type}, a.button-#{$type}{
    background-color: $bg-1;
    border: 1px solid $border;
    color: $color;
    @include button;

    &:hover{
      background-color: $hover-bg;
      border: 1px solid $hover-bg;
      color: $hover-color;
    }

    &:active{
      background-color: $hover-bg;
      border: 1px solid $hover-bg;
      color: darken($hover-color, 5%);
    }

    &:focus{ border: 1px solid $hover-bg; }

    &.is-disabled{
      background-color: $bg-1;
      color: $color;
      cursor: not-allowed;
      opacity: 0.4;
    }

    &.in-progress{
      color: transparent;
      pointer-events: none;
      position: relative;

      &:after{
         animation: spin 0.5s linear infinite;
         border: 2px solid $color;
         border-radius: 50%;
         border-right-color: transparent;
         border-top-color: transparent;
         content:"";
         display: block;
         height: 20px;
         @include position(absolute, 10px null null null);
         margin: 0 calc((100% - 50px)/2);
         width: 20px;
      }
    }

    &.with-arrow{
      align-items: center;
      display: flex;
      min-width: 170px;
      text-align: left;
      text-decoration: none;

      &:after{
        // background: url('../../images/icons/arrow-right.svg') no-repeat center top;
        background-size: 100%;
        content: "";
        display: inline-block;
        height: 14px;
        margin-left: auto;
        transition: all 0.3s ease-in-out;
        vertical-align: sub;
        width: 9px;
      }

      &:hover:after{
        // background: url('../../images/icons/arrow-right-white.svg') no-repeat center top;
        background-size: 100%;
      }
    }

    span{
      top: calc(50% - 7px);
      position: relative;
    }
  }

  // Links
  .link-#{$type}{
    color: $bg-1;
    display: inline-block;
    @include font-size-sbody;
    @include font-type($primary-sans-serif, normal, normal);
    transition: all 0.3s ease-in-out;
    @include rem(margin-bottom, 20px);
    text-decoration: none;
    width: fit-content;

    &:hover{
      color: $hover-bg;
      text-decoration: underline;
    }

    &:focus{
      // @include outline-dark;
    }
  
    &.with-underline{
      text-decoration: underline;
    }

    &.all-caps{
      text-transform: uppercase;
      @include rem(font-size, 13px);
      letter-spacing: 0.5px;
      font-weight: $semibold;
      display: block;

      img{
        width: 10px;
        display: inline-block;
        @include rem(margin-right, 8px);
        vertical-align: middle;
      }
    }
  }
}


// Buton Sizes
.button-small, a.button-small{
  @include rem(height, 36px);
  min-width: 0px;

  &.in-progress{
    &:after{
      top: 5px;
    }
  }
}

.button-large, a.button-large {
   @include rem(height, 60px);
   min-width: 160px;

   &.in-progress{
     &:after{
       top: 17px;
     }
   }
}