/*-----------------------
Empty State
-----------------------*/

.empty-state{
  @include center;
  max-width: 400px;
  text-align: center;

  img{
    @include rem(margin-bottom, 10px);
    max-width: 100px;
    opacity: 0.5;
  }
}