/*-----------------------
Flash
-----------------------*/
.flash-message-container{
  @include position(absolute, 0px 0px null 0px);
}

.flash-message{
  @include rem(padding, 10px 20px);
  animation: fade-in 0.5s ease-in;
  width: 50%;
  margin: 0 auto;
  text-align: center;

  p{
    text-align: center;
  }

  button.dismiss {
    float: right;
    border: none;
    padding: 0;
    background: inherit;
    font-size: $s-base;
  }

  &.success{
    background-color: $green-light;
    border: 1px solid $green-base;

    p, button{
      color: $green-base;
    }
  }

  &.failure{
    background-color: $red-light;
    border: 1px solid $red-base;

    p, button{
      color: $red-base;
    }
  }
}

.styleguide-flash{
  position: relative;
  height: 50px;
}
