/*-----------------------
Flash
-----------------------*/
.flash-message-container{
  @include position(fixed, 55px 0px null 0px);
  z-index: 2;
  @include rem(padding, 0px 18px);

  .flash-message{
    position: relative;
    top: 0px;
  }
}

.side-navigation ~ .flash-message-container{
  @include grid-media($tablet-landscape){
    margin-left: 250px;
  }
}

.side-navigation.is-collapsed ~ .flash-message-container{
  @include grid-media($tablet-landscape){
    margin-left: 50px;
  }
}

.flash-message{
  @include rem(padding, 16px 20px);
  animation: fade-in 0.5s ease-in;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  z-index: 2;
  @include center;

  @include grid-media($tablet-landscape){
    max-width: 600px
  }

  p{
    text-align: center;
  }

  button.dismiss {
    background: transparent;
    border: none;
    cursor: pointer;
    float: right;
    @include rem(font-size, 25px);
    padding: 0;

    &:hover{
      opacity: 0.8;
    }
  }

  button ~ p{
    text-align: left;
    @include rem(margin-right, 30px);
  }

  &.success{
    background-color: $green-light;
    border: 1px solid $green-base;

    p, button{
      color: $green-base;
    }
  }

  &.failure{
    background-color: $red-light;
    border: 1px solid $red-base;

    p, button{
      color: $red-base;
    }

    p{
      &:before{
        border: 1px solid $red-base;
        border-radius: 20em;
        display: inline-block;
        @include rem(font-size, 15px);
        line-height: normal;
        font-weight: bold;
        content: "!";
        text-align: center;
        height: 22px;
        width: 22px;
        @include rem(margin-right, 5px);
      }
    }
  }

  &.neutral{
    background-color: $grey-light;
    border: 1px solid $grey-base;

    p, button{
      color: $black-base;
    }
  }
}

.flash-message ~ .flash-message{
  @include rem(margin-top, 5px);
}
