/*-----------------------
Footer
-----------------------*/
footer {
  display: inline-block;
  @include rem(padding, 40px 20px);
  text-align: center;
  width: 100%;

  p {
    @include s-tiny;
  }
}

/*-----------------------
Social Media
-----------------------*/
.social-media {
  @include rem(margin-bottom, 20px);

  li {
    display: inline-block;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
    width: inherit;

    &:hover {
      opacity: 1;
    }
  }
}
