.modal {

  .modal-fade-screen {
    @include position(fixed, 0 0 0 0);
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 1;
    transition: opacity 0.25s ease;
    visibility: hidden;
    z-index: 9999999;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }

  .modal-bg {
    cursor: pointer;
    @include position(absolute, 0 0 0 0);
  }

  h2{
    border-bottom: 1px solid $blue-base;
    @include rem(padding-bottom, 20px);
  }

  .modal-close {
    cursor: pointer;
    @include position(absolute, 0px 0px null null);
    @include s-huge;
    @include rem(padding, 20px);
    color: $blue-base;

    @include media($tablet){
      @include position(absolute, 15px 20px null null);
    }
  }


  &.modal-warning{
    h2{
      border-bottom: 1px solid $red-base;
      color: $red-base;
    }

    .modal-close{
      color: $grey-base
    }
  }

  .modal-inner {
    @include outer-container;
    background-color: $white-base;
    box-shadow: none;
    margin: auto;
    max-height: 95%;
    overflow: auto;
    position: relative;
    transition: opacity 0.25s ease;
    width: 100%;

    @include media($tablet) {
      @include center;
      max-width: 700px;
      @include vertical-center;
      left: 50%;
      max-height: 598px;
      @include transform(translateY(-50%) translateX(-50%));
    }

    a{
      width: 100%;

      @include media($tablet){
        @include rem(margin-right, 15px);
        width: inherit;
      }

      &:last-child{
        @include rem(margin-top, 15px);

        @include media($tablet){
          @include rem(margin-top, 0px);
        }
      }
    }
  }
}

.modal-card{
  position: relative;

  .modal{

    .modal-fade-screen{
      position: relative;
      opacity: 1;
      visibility: visible;
      z-index: 0;

      .modal-inner{
        @include position(relative, 0 0 0 0);
        @include transform(translateY(0) translateX(0));
      }
    }
  }
}