// Site Navigation Styles
// ========================================
$mobile-nav-height: 58px;
$desktop-nav-height: 70px;

.navigation {
  background-color: $white-base;
  box-shadow: 0 0 18px 0 rgba(131, 131, 131, 0.5);
  height: $desktop-nav-height;
  @include rem(padding, 20px 20px);
  position: relative;
  text-align: center;
  width: 100%;
}

/*-----------------------
Logo
-----------------------*/
.logo {
  color: $black-base;
  @include rem(margin-bottom, 0px);
  text-decoration: none;
  border-bottom: none;
  font-size: $s-large;

  @media ($tablet) {
    float: left;
  }

  a {
    vertical-align: sub;
  }
}

/*-----------------------
Primary Nav
-----------------------*/
.navigation {
  @include position(fixed, 0 null null null);
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 2;

  .nav-logo {
    width: 120px;
    border: none;
    float: left;
    @include rem(margin-right, 50px);
  }

  nav {
    @media ($tablet-landscape) {
      text-align: right;
    }
  }

  ul {
    @include rem(margin-right, -17px);
    display: none;
    @media ($tablet-landscape) {
      display: block;
    }
  }

  li {
    display: inline-block;
    padding: 21px 38px 18px 38px;
    margin: -22px -4px 0 3px;
    vertical-align: top;
    border-left: 1px solid $grey-light;

    a {
      color: $black-base;
      @include s-small;
      text-decoration: none;
      border: none;
    }
    &:hover {
      background-color: $grey-lighter;
      cursor: pointer;

      a {
        color: $blue-base;
      }
    }
  }
}

.selected {
  border-bottom: 4px solid $blue-base;
  background-color: $grey-lighter;
}

/*-----------------------
Dropdown
-----------------------*/
.submenu {
  background-color: $white-base;
  box-shadow: 0 0 18px 0 rgba(232, 232, 232, 0.5);
  animation: fade-in 0.2s ease-in;
  @include rem(margin-top, 10px);

  li a {
    @include s-small;
    @include rem(padding, 5px 15px);
  }
}

.hover-menu {
  @include rem(padding-bottom, 25px);
  overflow: visible;
  padding-right: 0;
  position: relative;

  .submenu {
    display: none;
    position: absolute;
    top: 35px;
    right: 15px;
    z-index: 3;
    text-align: center;
    width: 130px;
  }

  .submenu li {
    display: block;
    margin: 0;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid $grey-light;
    padding: inherit;
    padding: 17px;
  }

  .submenu li a {
    color: $black-base;
    display: inline-block;
    text-align: right;

    &:hover {
      color: $blue-base;
    }
  }

  &:focus > .submenu,
  &:hover > .submenu {
    display: block;
  }
}

/*-----------------------
Mobile Menu
-----------------------*/

.mobile-menu {
  float: right;
  @media ($tablet-landscape) {
    display: none;
  }
}

img.mobile-menu {
  width: 30px;
  border: none;
  text-align: right;
}

.mobile-menu-items {
  display: none;
  margin-top: 48px;

  &.show-mobile {
    display: block;
    @include rem(margin-top, -42px);
  }

  li {
    background-color: $white-base;
    margin: 0 -23px;
    border-left: none;
    border: 1px solid $grey-light;
    border-top: none;
    padding: 21px 38px 18px 38px;
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  li:first-child {
    margin-top: 24px;
    @include rem(margin-right, -46px);
  }

  li.selected {
    border-bottom: 3px solid $blue-light;
    background-color: $grey-lighter;
  }

  @media ($tablet-landscape) {
    display: none;
  }
}

// Recruiter Nav

li.recruiter-nav-item,
li.search {
  border-left: none;
}

li.recruiter-nav-item:hover {
  background-color: $white-base;
}

li.search {
  float: left;
}

li.search:hover {
  background-color: transparent;
}

li.search-selected {
  background-color: transparent;
  border-bottom: 3px solid $blue-light;
}

.bookmarked {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 12px;
  background-color: $green-base;
  display: inline-block;
  vertical-align: middle;
  @include rem(margin-left, 3px);
  span {
    font-weight: bold;
    font-size: 12px;
    color: $white-base;
    text-align: center;
    display: block;
    @include rem(margin-top, -1.4px);
  }
}
