/*-----------------------
Pagination
-----------------------*/
$pagination-active-color: $black-base !default;
$pagination-default-color: $black-base !default;

.pagination {
  display: table;
  @include rem(margin, 20px auto 0px);

  li {
    float: left;
    @include rem(margin, 0px 8px);

    a {
      color: $pagination-default-color;
      float: left;
      text-decoration: none;
      text-align: center;

      &:hover {
        color: darken($pagination-default-color, 10%);
        text-decoration: underline;
      }
    }

    &.active a,
    a:active {
      color: $pagination-active-color;
    }

    .delimeter {
      display: block;
      @include rem(padding-top, 6px);
    }
  }
}

//With Arrows
@mixin pagination-arrows {
  background-position: top;
  background-size: 100%;
  content: '';
  display: inline-block;
  height: 18px;
  transition: all 0.3s ease-in-out;
  width: 14px;
  vertical-align: sub;
}

.pagination {
  li.next,
  li.prev {
    margin: 0px;

    a {
      height: 22px;
      overflow: hidden;
      width: 18px;

      &:before {
        display: block;
      }
    }
  }

  .next a {
    width: auto;

    &:before {
      // background: url('../../images/icons/next.svg') no-repeat center;
      @include pagination-arrows;
      @include rem(margin, 6px 0px 0px 3px);
    }
  }

  .prev a {
    width: auto;

    &:before {
      // background: url('../../images/icons/next.svg') no-repeat center;
      @include pagination-arrows;
      @include rem(margin-top, 3px);
      transform: rotate(180deg);
    }
  }
}
