/*-----------------------
Content Header
-----------------------*/
.header-content{
  border-bottom: 1px solid $white-med;
  display: inline-block;
  @include rem(padding, 10px 30px);
  width: calc(100% - 245px);

  h1{
    float: left;
    @include rem(margin, 8px 0px 0px);
  }

  .header-buttons{
    float: right;

    li{
      display: inline-block;
      @include rem(margin-left, 15px);

      a{
        text-decoration: none;
      }
    }
  }
}