.profile-section,
.profile-blade {
  h3 {
    letter-spacing: 1px;
    @include rem(margin-bottom, 20px);
    text-transform: uppercase;
  }

  .with-character-count {
    @include rem(margin, 0 0 10px 0);
  }

  .edit-section {
    display: none;
    width: 20px;
    position: relative;
    float: right;
    margin: -53px -10px 0px 0px;
  }

  .profile-component {
    margin: 0;
  }

  .work-info {
    display: block;
    @include rem(margin-bottom, 10px);
  }

  .info-block {
    @include rem(margin-bottom, 20px);
  }

  .line-item {
    padding-left: 10px;
    text-indent: -10px;
  }
}

.info-block:hover .edit-section {
  display: block;
}

.about-section:hover .edit-section {
  display: block;
}

.proficiencies {
  span {
    @include rem(margin, 0 5px 5px 0);
    display: inline-block;
  }
  p,
  img {
    display: inline-block;
    vertical-align: top;
    background-color: $blue-light;
  }

  p {
    @include rem(padding, 5px 11px);
    color: $black-base;
    font-weight: $bold;
  }

  .add-pro {
    background-color: $blue-base;
    color: $white-base;
  }
  img {
    width: 34px;
    @include rem(padding, 10px);
    @include rem(margin-left, 1px);
  }

  fieldset {
    @include rem(margin, 0 10px 0 5px);
    vertical-align: middle;
    width: 200px;
  }

  .cancel {
    background-color: transparent;
    @include rem(margin-left, 210px);
    @include rem(margin-top, -30px);
  }
}

.proficiency-form {
  display: inline-block;
}
