.profile-card {
  @include media($tablet-landscape) {
    text-align: left;
    display: inline-block;
    width: 100%;
  }

  h3 {
    text-transform: uppercase;
  }

  .student-info {
    text-align: center;
    @include media($tablet-landscape) {
      margin-left: 188px;
      text-align: left;
    }
  }

  .student-info-edit {
    text-align: left;
    @include rem(margin, 0px 0 10px 0);
  }

  .profile-image {
    width: 100px;
    margin: 0 auto;
    @include media($tablet-landscape) {
      width: 168px;
      float: left;
    }
  }

  .upload-image {
    display: none;
    @include media($tablet-landscape) {
      width: 30px;
      position: absolute;
      @include rem(margin, 5px);
    }
  }
  .image-banner {
    display: none;
    @include media($tablet-landscape) {
      background-color: rgba(255, 190, 29, 0.7);
      color: $white-base;
      width: 100%;
      font-weight: $bold;
      font-size: $s-tiny;
      text-align: center;
      margin-top: -28px;
      position: relative;
      cursor: pointer;
      margin-bottom: 6px;
    }
  }

  .image-banner-recruiter-view {
    @include media($tablet-landscape) {
      display: block;
    }
  }

  .profile-image-student-view:hover .image-banner {
    @include media($tablet-landscape) {
      display: block;
    }
  }

  .profile-image-student-view:hover img.upload-image {
    @include media($tablet-landscape) {
      display: block;
    }
  }

  span {
    img {
      width: 15px;
    }
    a {
      margin: 5px 0;
      display: inline-flex;
    }
    img,
    p {
      vertical-align: middle;
      display: inline-block;
    }
  }

  h1 {
    @include rem(margin, 10px 0 5px);
    font-weight: $light;
    @include media($tablet-landscape) {
      margin-top: 0;
    }
  }

  h1,
  h2 {
    @include rem(margin-bottom, 5px);
  }

  .upload-link {
    display: none;
    @include media($tablet-landscape) {
      display: inline-block;
      font-weight: $regular;
      @include rem(margin, 0px 10px 0 10px);
    }
  }

  .edit-section {
    display: none;
    width: 20px;
    position: relative;
    float: right;
    margin: -44px -10px 0px 0px;
  }

  .edit-section-trash {
    @include rem(margin-top, 20px);
    width: 20px;
    position: relative;
    float: right;
    margin: -44px -10px 0px 0px;
  }

  fieldset {
    width: 300px;
    @include rem(margin-right, 20px);
    text-align: left;

    .short-input {
      width: 100px;
      @include rem(margin-right, 10px);
    }
  }

  .bullet-point {
    width: 100%;
    @include rem(margin, 10px 0);
    textarea {
      height: 60px;
    }

    span {
      float: right;
      color: $red-base;
      font-size: $s-small;
      cursor: pointer;
    }
  }
}

.button-group {
  @include rem(margin-top, 20px);
  width: 100%;
  text-align: center;
  @include media($tablet-landscape) {
    display: inline-block;
  }
  button {
    @include rem(margin, 0 2px 2px 0);
    @include media($tablet-landscape) {
      width: 49.3%;
    }
  }
}

.button-profile-card {
  @include rem(margin-top, 2px);
  @include media($tablet) {
    display: inline-block;
    width: 49.6%;
  }
}

.button-top {
  @include rem(margin-top, 20px);
  float: left;
}

.button-right {
  float: right;
  @include rem(margin-top, -2px);
}

.item-upload {
  @include rem(margin, 6px 0 0 17px);

  input {
    width: inherit;
  }

  img {
    @include rem(margin-top, 10px);
    width: 80px;
  }
}
