.purchased-profile-blade {
  border: 1px solid $green-base;
  background-color: $green-light;

  a {
    font-size:$s-small;
    font-weight: $bold;
    @include media($tablet) {
      font-size: $s-base;
    }
  }

  img {
    width: 15px;
    position: relative;
    float: right;
    margin: -14px;
  }
}
