ul.search-results {
  @include rem(padding, 50px 0px);

  li {
    font-weight: $bold;
    vertical-align: middle;
  }

  li:first-child {
    float: left;
  }

  li:last-child {
    float: right;
  }
}

ul.filtered-search-results {
  @include media($tablet) {
    @include rem(padding, 28px 0 50px);
  }
  fieldset {
    @include rem(margin, 0 0 20px);
    max-width: none;
    width: 100%;
    @include media($tablet) {
      width: 250px;
      float: right;
    }
  }

  select {
    border: 1px solid #a9a9a9;
    height: 50px;
    @include rem(padding-left, 10px);
    background-position: right 10px top 50%;
    @include rem(margin-top, -12px);
  }

  li:last-child {
    text-align: center;
    @include rem(margin-bottom, 20px);
    @include media($tablet) {
      float: left;
    }
  }
}
