$side-navigation: 245px;

.side-navigation {
  display: none;

  @media ($tablet-landscape) {
    display: block;
    background-color: $white-base;
    box-shadow: 0 0 18px 0 rgba(232, 232, 232, 0.5);
    @include position(fixed, 0px null 0px 0px);
    overflow: scroll;
    margin-top: $desktop-nav-height;
    width: $side-navigation;

    .selected {
      background-color: $grey-lighter;
      border: none;
      border-left: 3px solid $green-base;
    }

    a {
      display: inline-block;
      @include font-type($primary-sans-serif, normal, $bold);
      @include rem(padding, 10px);
      @include s-small;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;
      border-bottom: 1px solid $grey-light;
    }

    img {
      width: 20px;
      float: right;
      @include rem(margin-top, 2px);
    }
  }
}
