.card-signup {
  background-color: $green-base;
  min-height: 100vh;
  @include rem(padding, 20px);

  img.logo-white {
    width: 150px;
    @include rem(margin-bottom, 40px);
    display: block;
  }

  .sign-up-content {
    max-width: 350px;
    margin: 0 auto;
  }

  .card-signup-content {
    background-color: $white-base;
    border-radius: 8px;
    box-shadow: 0 0 18px 0 rgba(232,232,232,0.50);
  }

    .headshot-preview {
      width: 90px;
      display: block;
      margin: 0 auto;
      @include rem(margin-bottom, -38px);
      border-radius: 50%;
    }

    .headshot-header {
      @include rem(padding-top, 50px);
    }

  .inner-content {
    @include rem(padding, 20px 20px 50px);
  }

  span {
    @include rem(margin-top, -23px);
    img, p {
      display: inline-block;
    }
    img {
      width: 10px;
      @include rem(margin-right, 3px);
    }

    p {
      color: $white-base;
    }
  }

  .back {
    float: right;
    cursor: pointer;
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    @include rem(padding, 20px 0);
    -webkit-box-shadow: 0px 4px 7px 0px rgba(145,145,145,0.09);
    -moz-box-shadow: 0px 4px 7px 0px rgba(145,145,145,0.09);
    box-shadow: 0px 4px 7px 0px rgba(145,145,145,0.09);
  }

  .instruction-text {
    text-align: center;
  }

  .sign-in {
    text-align: center;
    @include rem(margin-top, 40px);

    p, a {
      color: $white-base;
      border: none;
    }

    a {
      font-weight: $bold;
    }
  }

  button {
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: -28px;
    border: none;

    img {
      width: 20px;
      @include rem(margin,0 -5px 0 -8px);
    }
  }

  .button-arrow {
    float: right;
    @include rem(margin-right, 40px);
    width: 52px;
  }

  button.button-primary {
    border-radius: 25px;
    width: initial;
    @include rem(padding, 15px 20px);
    letter-spacing: 1px;
    background-image: linear-gradient(0deg, #35AA31 0%, #4AC346 90%);
    background-color: $green-base;
    box-shadow: 0 16px 32px 0 rgba(9, 73, 7, .35);
    transition: all 0.5s ease;
    opacity: 1 !important;

    &:hover {
      box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
      background-position: 0 0;
      border: none;
    }
  }
}


.log-in {
  max-width: 500px !important;
  fieldset {
    width: 300px;
    display: inherit;
  }
}

.forgot-password {
  display: inline-block;
  @include rem(margin-top, 20px);
}


// Recruiter Styles

.recruiter-card-signup {
  background-color: $blue-base;

  button.button-primary {
    background-image: linear-gradient(0deg, #509BD0 0%, #6BC2FF 90%);
    background-color: $blue-base;
    box-shadow: 0 16px 32px 0 rgba(23, 99, 152, .35);
  }
}
