/*-----------------------
Summit List
-----------------------*/
.summit-list {
  display: inline-block;
  width: 100%;

  .card-link {
    display: inline-block;
    @include rem(margin-bottom, 20px);

    @include media($tablet) {
      @include span-columns(6 of 12);
      @include omega(2n);
    }

    &:hover {
      .card {
        background-color: $blue-light;
      }
    }

    .card {
      @include transition(all 0.3s ease-in-out);
      @include rem(padding, 20px);

      .text-block {
        @include rem(margin-top, 20px);

        h4 {
          margin-bottom: 0px;
        }
      }
    }
  }

  span {
    border-radius: 20px;
    color: $white-base;
    display: inline-block;
    font-weight: bold;
    @include rem(margin-bottom, 10px);
    @include rem(padding, 5px 0px);
    @include s-small;
    text-align: center;
    text-transform: uppercase;
    width: 65px;
  }

  .is-live {
    background-color: $green-base;
  }

  .in-progress {
    background-color: $yellow-base;
  }

  .is-past {
    background-color: $blue-base;
  }
}

.summit-thumb {
  background-color: $grey-light;
  height: 100%;
  width: 100%;
}
