/*-----------------------
Shared
-----------------------*/
.tabs{
  cursor: pointer;
  position: relative;

  li{
    transition: all 0.3s ease-in-out;

    &:hover{
      color: darken($black-base, 100%);
    }

    a{
      text-decoration: none;
    }
  }
}

/*-----------------------
Horizontal Tabs
-----------------------*/
.horizontal-tabs{
  li{
    display: inline-block;
    @include rem(padding, 10px 20px);
    border-bottom: 2px solid transparent;

    &.active{
      border-bottom: 2px solid $black-base;
    }
  }
}


/*-----------------------
Veritcal Tabs
-----------------------*/
.vertical-tabs{
  li{
    @include rem(padding, 10px 20px);
    border-left: 2px solid transparent;

    &.active{
      border-left: 2px solid $black-base;
      background-color: $white-light;
    }
  }
}
