/*-----------------------
Table
-----------------------*/

table {
  background-color: $grey-lighter;
  table-layout: fixed;
  width: 100%;

  th,
  td {
    display: table-cell;
    @include rem(margin, 15px 5px);
    @include rem(padding, 10px);
    @include s-medium;
    text-align: left;
    white-space: nowrap;
    width: inherit;
    vertical-align: middle;
  }

  th,
  td:before {
    color: $grey-base;
    font-weight: $bold;
    font-size: $s-small;
  }

  td {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $s-small;
  }

  th,
  thead {
    background-color: $yellow-light;
    color: $black-base;
    cursor: pointer;
    width: 100%;
  }

  tbody {
    overflow: auto;

    tr {
      &:nth-child(even) {
        background-color: rgba(lighten($blue-base, 35%), 0.7);
      }
    }
  }
}

/*-----------------------
Filter Table Arrows
-----------------------*/
th {
  &:after {
    display: inline-block;
    font-size: 8px;
    @include rem(margin-left, 10px);
    opacity: 0.4;
  }

  &:hover:after {
    content: '▼';
  }
}

.order-ascend {
  &:after {
    content: '▲';
  }

  &:hover:after {
    content: '▼';
  }
}

.order-descend {
  &:after {
    content: '▼';
  }

  &:hover:after {
    content: '▲';
  }
}
