/*-----------------------
Shared
-----------------------*/
.tabs {
  [role="tab"] {
    border: none;
    cursor: pointer;
    background: none;
    @include rem(padding, 10px 20px);
    height: 100%;
    display: inline-block;

    transition: all 0.3s ease-in-out;

    &:hover {
      color: $white-base;
      background-color: darken($black-base, 5%);
    }
  }
}

/*-----------------------
Horizontal Tabs
-----------------------*/
.horizontal-tabs {
  li {
    display: inline-block;
    border-bottom: 2px solid transparent;

    &.active {
      border-bottom: 2px solid $black-base;
    }
  }
}

/*-----------------------
Vertical Tabs
-----------------------*/
.vertical-tabs {
  li {
    border-left: 2px solid transparent;

    &.active {
      border-left: 2px solid $black-base;
      background-color: $white-light;
    }
  }
}
