//MAIN COLORS

  //BLACK
    $black-base:   #5B5B5B;

  //BLUE
    $blue-light:   #BEE4FF;
    $blue-base:    #6BC2FF;

  //GREEN
    $green-dark:   #56C852;
    $green-base:   #7ED97A;
    $green-light:  #E9FFE8;

  //GREY
    $grey-lighter: #FAFAFA;
    $grey-light:   #E7E7E7;
    $grey-base:    #A9A9A9;
    $grey-dark:    #767676;

  //RED
    $red-base:     #FF715E;
    $red-light:    #FFE8E5;

  //YELLOW
    $yellow-light: #FFE196;
    $yellow-base:  #FFBE1D;
    $yellow-dark:  #F9B307;

  //WHITE
    $white-light:  #F8F8F8;
    $white-base:   #FFFFFF;
    $white-med:    #DEDEDE;
    $white-dark:   #F7F7F7;


  //MAIN PALETTE LIST
  $colors: (
    black-base    $black-base,
    blue-light    $blue-light,
    blue-base     $blue-base,
    grey-light    $grey-light,
    grey-base     $grey-base,
    grey-dark     $grey-dark,
    green-dark    $green-dark,
    green-base    $green-base,
    green-light   $green-light,
    red-light     $red-light,
    red-base      $red-base,
    yellow-base   $yellow-base,
    yellow-dark   $yellow-dark,
    white-light   $white-light,
    white-base    $white-base,
    white-dark    $white-dark
  );
