// Typography Variables
// ========================================

  // Font Families

  $primary-sans-serif: 'Open Sans', sans-serif;


  // Sizes
  $font-size-base: 14px;

  $s-hero:      47px;
  $s-mega:      38px;
  $s-jumbo:     22px;
  $s-display:   19px;
  $s-subheader: 17px;
  $s-minor:     15px;
  $s-lbody:     18px;
  $s-mbody:     16px;
  $s-sbody:     15px;


  $s-base:    15px;
  $s-small:   13px;
  $s-tiny:    10px;

  // Line Heights
  $base-line-height: $font-size-base * 1.9;
  $base-line-loose: $font-size-base * 2.2;
  $base-line-small:  $font-size-base;

  // Font Weights
  $light: 300;
  $regular: 400;
  $semibold: 600;
  $bold: 700;