lib
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
npm-debug.log*
node_modules
yarn-error.log
coverage

# compiled storybook dir
.storybook/static/storybook
.storybook/static/.sass-cache
.storybook/styles/.sass-cache
