//GRID SETTINGS
$grid-columns: 12;

//MEDIA QUERIES

//DEFINED VARIABLES
$mobile-size: em(320);
$tablet-size: em(720);
$desktop-size: em(1200);

// SPECIAL VARIABLES
$tablet-landscape: em(1024);

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(min-width $mobile-size 4);
$tablet: new-breakpoint(min-width $tablet-size 9);
$tablet-landscape: new-breakpoint(
  min-width $tablet-landscape orientation landscape 9
); //LPL Added
$desktop: new-breakpoint(min-width $desktop-size 12);

//BORDERS
$blue-border: 1px solid $blue-base;
$grey-border: 1px solid $grey-base;
$white-border: 1px solid $white-base;
$blue-border-thick: 4px solid $blue-base;

//OFFSET
$page-header-offset: 112px;
$page-header-offset-mobile: 90px;

@mixin header-offset {
  margin-top: $page-header-offset-mobile;
  @media ($tablet) {
    margin-top: $page-header-offset;
  }
}

@mixin center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@mixin base-padding {
  @include rem(padding, 20px);

  @media ($tablet) {
    @include rem(padding, 30px);
  }
}

@mixin secondary-padding {
  @include rem(padding, 40px 20px);
}

@mixin side-padding {
  @include rem(padding, 0 20px);
}

@mixin vertical-center {
  @include transform(translateY(-50%));
  position: absolute;
  top: 50%;
}

@mixin horizontal-center {
  @include transform(translateX(-50%));
  position: absolute;
  left: 50%;
}

@mixin vertical-horizontal-center {
  @include vertical-center;
  left: 50%;
  @include transform(translateY(-50%) translateX(-50%));
}

@mixin hover-zoom {
  transition: all 1s ease;
  background-size: 100%;

  &:hover {
    background-size: 120%;
  }
}

img {
  width: 100%;
}

@mixin clickable-block {
  display: inline-block;
  height: 100%;
  width: 100%;
}

@mixin mobile-hide {
  display: none;
  @media ($tablet) {
    display: block;
  }
}

@mixin desktop-hide {
  @include media($tablet) {
    display: none;
  }
}

.horizontal-divider {
  border-bottom: $grey-border;
}

// ------------------------------------------------------------
// Override Neat's grid settings
// ------------------------------------------------------------
$column: golden-ratio(1em, 2) !default;
$gutter: golden-ratio(1em, 1) !default;
$fg-column: $column;
$fg-gutter: $gutter;

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) {
    margin-right: flex-gutter();
  }
  &:nth-child(#{$nth} + 1) {
    clear: none;
  }
}
