// Typography Mixin
// ========================================


// Font Sizes
@mixin font-size-hero{
  @include rem(font-size, $s-hero);
}

@mixin font-size-mega{
  @include rem(font-size, $s-mega);
}

@mixin font-size-jumbo{
  @include rem(font-size, $s-jumbo);
}

@mixin font-size-display{
  @include rem(font-size, $s-display);
  @include rem(line-height, $base-line-height);
}

@mixin font-size-subheader{
  @include rem(font-size, $s-subheader);
  @include rem(line-height, $base-line-height);
}

@mixin font-size-minor{
  @include rem(font-size, $s-minor);
  @include rem(line-height, $base-line-loose);
}

@mixin font-size-lbody{
  @include rem(font-size, $s-lbody);
  line-height: normal;
}

@mixin font-size-mbody{
  @include rem(font-size, $s-mbody);
}

@mixin font-size-sbody{
  @include rem(font-size, $s-sbody);
}

// Font Styles
@mixin font-type($type, $style, $weight){
  font-family: $type;
  font-style:  $style;
  font-weight: $weight;
}