// Base Typography
// ========================================

html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 87.5%;
}

body {
  @include font-type($primary-sans-serif, normal, normal);
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black-base;
  @include font-type($primary-sans-serif, normal, $regular);
  @include rem(margin-bottom, 12px);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  a{
    @include font-type($primary-sans-serif, normal, $regular);

    &:hover{
      text-decoration: underline;
    }
  }
}

h1 { 
  @include rem(font-size, 28px);
  font-weight: $light;

  @include grid-media($tablet-landscape){
    @include rem(font-size, 31px);
  }
}


h2 { 
  @include rem(font-size, 25px);
  font-weight: $light;
  @include rem(margin-bottom, 30px);

  @include grid-media($tablet-landscape){
    @include rem(font-size, 27px);
  }
}

h3 {
  @include font-size-jumbo;   
  font-weight: $semibold;
}

h4 {
  @include font-size-display;   
  font-weight: $semibold;
}

h5 {  
  @include font-size-subheader; 
  font-weight: $semibold;
}

h6 { 
  @include font-size-minor; 
  font-weight: $semibold;
  text-transform: uppercase;
}


h3, h4, h5, h6{
  @include rem(margin, 30px 0px);
}

p{
  color: $black-base;
  font-weight: normal;
  font-style: normal;
  @include font-type($primary-sans-serif, normal, $regular);
  @include font-size-mbody;
  @include rem(margin-bottom, 12px);
  line-height: $base-line-loose;
  @include rem(margin-bottom, 30px);

  &:last-child { @include rem(margin-bottom, 0); }
}

li,
dd{
  color: $black-base;
  @include font-type($primary-sans-serif, normal, normal);
  @include font-size-mbody;
  line-height: $base-line-height;
  list-style: none;
}

a {
  color: $black-base;
  cursor: pointer;
  @include font-size-mbody;
  @include font-type($primary-sans-serif, normal, normal);
  text-decoration: underline;
  transition: all .5s ease-in-out;

  &:hover, &:focus  {
    color: $black-dark;
  }
}

strong, b { font-weight: $bold; }
i, em { font-style: italic; }

u{
  text-decoration: underline;
}
