.dropdown-nav-bar.no-mobile {
  @import 'dropdown-nav-bar-no-mobile';
  @import 'dropdown-nav-bar-common';
}

.dropdown-nav-bar:not(.no-mobile) {
  @import 'dropdown-nav-bar-common';
}

#mobile-nav-button {
  position: absolute;
  top: -9999px;
  left: -9999px;

  &:checked {
    & ~ .dropdown-nav-bar .dropdown-nav-menu {
      top: 0;
      position: fixed;
      overflow: auto;
      display: block;
      height: 100%;
      width: 100%;
    }

    & ~ .mobile-menu {
      span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

.mobile-menu {
  position: absolute;
  right: 15px;
  z-index: 3;
  cursor: pointer;

  @include media($tablet) {
    display: none;
  }

  span {
    display: block;
    margin: 4px auto;
    height: 4px;
    width: 25px;
    background: #333;
    transition: 0.5s;
  }
}
